<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>ผู้ดูแลระบบ | BKK Circular</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/admincscit/assets/css/plugins.css">
  <link rel="stylesheet" href="/admincscit/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&display=swap" rel="stylesheet">
  <!-- sweetalert2 -->
  <link rel="stylesheet" href="/node_modules/sweetalert2/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="/node_modules/toastr/build/toastr.min.css">
  <link rel="stylesheet" href="/node_modules/waitme/waitMe.min.css">
  <link rel="stylesheet" href="/assets/fonts/saochingcha/saochingcha.css">
  <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Bai+Jamjuree&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <style>
    body{ font-family: 'saochingcha', sans-serif !important; }
    .form-floating>label { font-size: 17px; }
    @media (max-width: 559px){ .logo-new { display: none !important; } .text-mobile{ display: inline !important; } }
    @media (max-width: 991.98px){ .image-wrapper.bg-cover { min-height: 0rem!important; display: none !important; } }
    @media (max-width: 1200px){ .image-wrapper.bg-cover { min-height: 0rem!important; display: none !important; } .col-lg-6 { width: 100%!important; } }
    .password-toggle {padding-right: 20px !important; top: 28px }
    .form-check-input[type=checkbox] { border-color: #797171; transition: 0.4s; }
  </style>
</head>

<body>
  <div class="content-wrapper bg-navy">
    <section class="wrapper text-white">
      <div class="container pt-10 pt-md-10 pb-21 pb-md-21 text-center">
        <div class="row"><div class="col-lg-8"></div></div>
      </div>
    </section>

    <section class="wrapper ">
      <div class="container pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-7 col-xl-6 col-xxl-6 mx-auto mt-n20">
            <div class="card">
              <div class="card-body p-9 text-center card-border-bottom border-primary shadow-xl " id="row_login">
                <div class="mb-6 ">
                  <div class="info text-mobile">
                    <p class="mb-1 fs-35 text-dark">ระบบค้นหาหนังสือเวียน ก.พ. กทม. <br><b>BMA Circular</b></p>
                  </div>
                </div>
               
                <form class="text-start mb-3" id="form_login">
                  <div class="form-floating mb-4">
                    <input type="text" class="form-control" placeholder="Username" id="loginUsername" name="loginUsername" autofocus>
                    <label for="loginUsername">ชื่อผู้ใช้งาน</label>
                  </div>
                  <div class="form-floating password-field mb-4">
                    <input type="password" class="form-control" placeholder="Password" id="loginPassword" name="loginPassword">
                    <span class="password-toggle"><i class="uil uil-eye"></i></span>
                    <label for="loginPassword">รหัสผ่าน</label>
                  </div>
                  <button type="submit" class="btn btn-primary  btn-login w-100 mb-2" id="submit_login">เข้าสู่ระบบ</button>
                </form>
  
                <p class="mb-0 fs-22">คุณยังไม่ได้ลงทะเบียน? 
                  <a href="#" class="hover-2 more" id="createItem">ลงทะเบียน</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- modal register -->
   <div class="modal fade" id="modal-register" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content text-center">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h2 class="mb-3 text-start">
                  <img src="/admincscit/assets/img/icons/solid/discussion.svg" class="px-1 svg-inject icon-svg icon-svg-xs solid-duo text-navy-sky" alt="" />ลงทะเบียนเข้าใช้งาน</h2>
                <form class="text-start mb-3" id="form_register">
                <div class="row">
                <div class="col-md-6">
                  <div class="form-floating mb-4">
                      <input type="text" class="form-control" placeholder="ชื่อ" autocomplete="off" id="a_name" name="a_name">
                      <label for="a_name">ชื่อ</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-4">
                      <input type="text" class="form-control" placeholder="Username" autocomplete="off" id="a_username" name="a_username">
                      <label for="a_username">ชื่อผู้ใช้งาน</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating password-field mb-4">
                      <input type="password" class="form-control" placeholder="Password" id="a_password" name="a_password">
                      <span class="password-toggle"><i class="uil uil-eye"></i></span>
                      <label for="a_password">รหัสผ่าน</label>
                  </div>
               </div>
               <div class="col-md-6 mb-5">
                <div class="form-floating password-field mb-4">
                    <input type="password" class="form-control" placeholder="ยืนยัน Password" id="a_password_re" name="a_password_re">
                    <span class="password-toggle"><i class="uil uil-eye"></i></span>
                    <label for="a_password_re">ยืนยันรหัสผ่าน</label>
                </div>
                </div>
                </div>
                <button type="submit" class="btn btn-primary rounded-pill btn-login w-100 mb-2" id="submitCreate" >ลงทะเบียน</button>
                </form>
                <p class="mb-0">คุณลงทะเบียนแล้ว? <a href="#" class="hover" id="close_modal_create">เข้าสู่ระบบ</a></p>
            </div>
            </div>
        </div>
  </div>

  <div class="progress-wrap">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
  </div>

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/admincscit/assets/js/plugins.js"></script>
  <script src="/admincscit/assets/js/theme.js"></script>
  <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/node_modules/toastr/build/toastr.min.js"></script>
  <!-- sweetalert2 -->
  <script src="/node_modules/sweetalert2/dist/sweetalert2.all.js"></script>
  <script src="/node_modules/waitme/waitMe.min.js"></script>
  <script src="/admincscit/Main_JS/funcSettingLogin.js"></script>
  <script src="/admincscit/Main_JS/validator.js"></script>
  <script src="/admincscit/Main_JS/funcControllLogin.js"></script>

</body>
</html>
