<footer>
  <div class="container pb-5 mt-10">
    <div class="row gx-lg-0 gy-6">
      <div class="col-lg-4">
        <div class="widget">
          <img class="mb-4" src="/assets/img/logo-small.png"  alt="" />
          <p class="lead mb-0">ศูนย์สารสนเทศทรัพยากรบุคคล<br>สํานักงานคณะกรรมการข้าราชการกรุงเทพมหานคร</p>
        </div>
      </div>
      <div class="col-lg-3 offset-lg-2">
        <div class="widget">
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"></i> </div>
            </div>
            <div>
              <h5 class="mb-1">โทรศัพท์กลาง</h5>
              <p class="mb-0">0-2221-2141 <br />ต่อ 1171</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="widget">
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"></i> </div>
            </div>
            <div class="align-self-start justify-content-start">
              <h5 class="mb-1">ที่อยู่</h5>
              <address>เลขที่ 173 ถ.ดินสอ แขวงเสาชิงช้า <br>เขตพระนคร กทม. 10200 <br>ศาลาว่าการกรุงเทพมหานคร (เสาชิงช้า) <br>ชั้น 5</address>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <hr class="mt-13 mt-md-14 mb-7" />
    <div class="d-md-flex align-items-center justify-content-between">
      <p class="mb-2 mb-lg-0">© 2025 ศูนย์สารสนเทศทรัพยากรบุคคล สกก.</p>
      <nav class="nav social social-muted mb-0 text-md-end">
      </nav>
    </div>
  </div>
</footer>
