<nav class="navbar navbar-expand-lg center-nav navbar-light navbar-bg-light">
  <div class="container flex-lg-row flex-nowrap align-items-center">
    <div class="navbar-brand w-100 py-5">
      <a href="/">
        <img src="/assets/img/logocareers2re.png" srcset="/assets/img/logocareers2re@2x.png" alt="" />
      </a>
    </div>
    
    <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
      <div class="offcanvas-header d-lg-none">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
        <div class="d-lg-none mt-auto pt-6 pb-6 order-4">
          <br /> 0-2221-2141 ต่อ 1171<br />
          <nav class="nav social social-white mt-4">
            <a href="https://bma-csc.bangkok.go.th/csc/" target="_blank"><i class="uil uil-dribbble"></i></a>
          </nav>
        </div>
      </div>
    </div>
    <div class="navbar-other w-100 d-flex ms-auto">
      <ul class="navbar-nav flex-row align-items-center ms-auto">
        <li class="nav-item d-none d-md-block">
          <a href="https://bma-csc.bangkok.go.th/csc/" target="_blank" class="btn btn-expand btn-primary rounded-pill">
              <i class="uil uil-arrow-right"></i>
              <span style="font-family: 'saochingcha', sans-serif;">Web Site สกก.</span>
          </a>
        </li>
        <li class="nav-item d-lg-none">
          <button class="hamburger offcanvas-nav-btn"><span></span></button>
        </li>
      </ul>
    </div>
  </div>
</nav>
