

@font-face {
    font-family: 'saochingcha';
    src: url('saochingcha-light.woff2') format('woff2'),
        url('saochingcha-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'saochingcha';
    src: url('saochingcha-bold.woff2') format('woff2'),
        url('saochingcha-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('SpaceGrotesk-Medium.woff2') format('woff2'),
        url('SpaceGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'saochingcha';
    src: url('saochingcha-regular.woff2') format('woff2'),
        url('saochingcha-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

